@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap')

#background_home {
    position: relative;
    overflow: hidden;
    z-index: 1;
    opacity: .9; 
}

.container {
    vertical-align: text-top;
}
.content {

    position: relative;
    background: transparent;
}

#site_title {
     
    position: absolute;
    text-align: center;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    font-weight: 900;
    text-shadow: 1px 1px 1px; 
    width: 100%;
    bottom: 0px;
    background: transparent;
    background-color: rgb(0, 0, 0, 0.5);
   
}
#places_logo
{
    margin: 20px;

    align-content: center;
}

#places
{
    font-size: 36pt;

    padding: 10px;
    margin: 0px;
    text-align: center;

    opacity: .9;
    color: #000000FF;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
}


main
{
    position: relative;
}

h2
{
    font-size: xx-large;
    font-variant-caps: all-petite-caps;
    text-shadow: 1px 1px 1px;
}

h3
{
    font-size: larger;

    font-variant-caps: all-petite-caps;
}

article
{
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

p
{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 580;
    display: inline-block; 
    top: 50%;   
    left: 50%;
    width: 800px;
    text-align: center;
}
.contact_us {
    text-align: start;
    letter-spacing: 3px;
    box-shadow: 3px 3px 5px 3px ;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    font-family font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px; 
}