@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300&display=swap')

#background_home {
    position: relative;
    overflow: hidden;
    z-index: 1;
    opacity: .9; 
}


.container_bg_home {
    position: relative;
    text-align: center;
    color: lightgrey;
}


#site_title {
    position: absolute;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 1px; 
    width: 35%;
    background: transparent;
    background-color: rgb(0, 0, 0, 0.5);
   
}
#places_logo
{
    margin: 20px;

    align-content: center;
}

#places
{
    font-size: 36pt;
    letter-spacing: 5px;
    padding: 15px;
    margin: 15px;
    text-align: center;
}
@media (min-width: 1085px) {

    .container_article_odd {
        display: flex;
    }
    .container_article_twin{
        display: flex;
        flex-direction: row-reverse;
    }
}

@media (max-width: 1085px) {

    .container_article_odd {
        display: block;
    }
    .container_article_twin{
        display: block;
    }
    
}
main
{
    position: relative;
}

h2
{
    font-size: 35px;
    font-variant-caps: all-petite-caps;
    text-shadow: 1px 1px 2px;
    padding: 10px;
    padding-bottom: 5px;
    letter-spacing: 10px;
    transition-duration: 2s;
    transition-property: margin-right, color;
   
}

h3
{
    font-size: larger;

    font-variant-caps: all-petite-caps;
}

article
{
    margin-bottom: 30px;
    padding-top: 30px;
    padding: 5px;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    box-shadow: 3px 3px 3px 3px;
    border-radius: 15px;
    box-sizing: 20px;
}

article button{
    cursor: pointer;
}

p
{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    font-weight: 580;
    display: inline-block; 
    top: 50%;   
    left: 50%;
    /*max-width: 800px;*/
    text-align: center;
}


.container_p{
    flex-direction: column;
    max-width: 800px;
}

#contacts {
    margin-top: 15px;
    text-align: center;

}
.contact_us {
    text-align: start;
    letter-spacing: 3px;
    box-shadow: 3px 3px 5px 3px ;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    max-width: 300px;
    font-family font-family: 'Gemunu Libre', sans-serif;
    font-size: 20px; 
}

