 
#background_synevyr{
    position: relative;
    overflow: hidden;
    z-index: 1 
}
.content
{
    background: transparent;
    position: absolute;
    top: 240px;
    left: 400px;
  
}
#site_title{
    
    margin: 0px;
    align: justify;
    background: transparent;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size: 80px;
    font-weight: 900;
    text-shadow: 1px 1px 1px;
}
