 
#background_synevyr{
    position: relative;
    overflow: hidden;
    z-index: 1;
    opacity: .9;
}
.content
{
    background: transparent;
    position: absolute;
    top: 240px;
    left: 400px;
  
}
      
#site_title {
    position: absolute;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    letter-spacing: 7px;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: 1px 1px 1px; 
    width: 35%;
    background: transparent;
    background-color: rgb(0, 0, 0, 0.5);
}